@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

body{
   max-width: 1600px;
}

.wrapper{
  
   padding-left: 190px;
   padding-right: 190px;
   background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}

.nav_1{
   display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: 'Avenir', sans-serif;
    cursor: pointer;
}


.navigator{
   padding-top: 67px;
}


.photo_logo{
   /* margin-right: 121px; */
   /* padding-right: 121px; */
}

.logo_about{
   padding: 0px 40px 0px 121px;
   font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
color: #212353;
}


.logo_help{
   padding: 0px 40px 0px 40px;
   font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


/* 1 */

color: #4B5D68;
}


.logo_features{
   padding: 0px 40px 0px 40px;
   font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


/* 1 */

color: #4B5D68;
}


.logo_signup{
   padding: 0px 350px 0px 40px;
   font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 160%;
/* identical to box height, or 26px */


/* 1 */

color: #4B5D68;

}





.button_1{
   cursor: pointer;
   

}

.button1_2{
   width: 210px;
   height: 60px;
   background: #FFFFFF;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-color: white;
border-radius: 50px;
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
color: #212353;
padding-top: 17px;
padding-bottom: 17px;

}


.button1_2 img {
   padding-left: 20px;
}

/* .section_1{
   background-color: red;
} */

/* .headline{
   padding-top: 147px;
   position: absolute;
width: 645px;
height: 464px;
left: 240px;
top: 240px;

} */

.section_1{
   display: flex;
   flex-direction: row;
   align-items: center;
   
}


.headline{
   padding-top: 240px;
   display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headline h1{
   width: 645px;
   height: 184px;
   font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 110%;
color: #212353;
} 

.headline p{
   width: 380px;
height: 120px;
font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */


/* 1 */

color: #4B5D68;
}

.headline button{
   width: 170px;
height: 60px;
font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 160%;
color: #FFFFFF;
background: #9C69E2;
border-radius: 50px;
border-color: #9C69E2;
margin-top: 50px;
}


.section_1 img{
   width: 600px;
   margin-top: 300px;
}



.section_2{
   /* width: 1117px; */
   margin-top: 200px;
height: 560px;
background: rgba(240, 99, 184, 0.15);
border-radius: 50px;
display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row
}

.block_2 h2{
   width: 475px;
height: 100px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
color: #212353;

}

.block_2 p{
   width: 474px;
   height: 170px;
   font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */


/* 1 */

color: #4B5D68;

}

.section_3{
   margin-top: 149px;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.section_3 h3{
   width: 405px;
   height: 52px;
   font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
color: #212353;
text-align: center;

}

.section_3 p{
   width: 584px;
   height: 58px;
   font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
color: #4B5D68;
text-align: center;
}


.section_4{
   margin-top: 149px;
}

.section_4 h3{
   width: 200px;
   height: 50px;
   font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 130%;
color: #212353;
}

.section_4 p{
   width: 220px;
   height: 160px;
   font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #4B5D68;

}

.section_4 a{
   width: 87px;
   height: 26px;
   font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 160%;
color: #212353;
text-decoration: none;
}




.blocks_section_4{
display: flex;
}

.blocks_section_4 p{
  margin-right: 150px;
}

.blocks_section_4 img{
  margin-right: 30px;
  margin-top: 45px;

}

.block_section4_2{
   display: flex;
   margin-top: 132px;
}

.block_section4_2 p{
   margin-right: 150px;
}

.block_section4_2 img{
   margin-right: 30px;
  margin-top: 45px;
}

.arrow{
   margin-left: 20px;
}




