
body{
   font-size: 20px;
   background-color: silver;
   min-width: 1170px;

   padding: 50px 150px 50px 100px;
 }
 
 h1{
   text-align: center;
 }

 .task{
   font-size: 30px;
 }
 
 li:nth-child(1n){
   margin-top: 35px;
   
};

a:link,
a:visited,
a:focus {
  background: palegoldenrod;
  color: black;
}


  
  
 