body { 
   margin: 0 auto;
   padding-top: 100px;
   padding-bottom: 100px;
  
}

.block{
   width: 50px;
   height: 50px;
   background-color: grey;
}
.blocks_container{
   margin: 0 auto;
   /* width: 50%; */
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(6, 1fr);
   grid-gap: 30px;
   margin-bottom: 100px;
   justify-items: center;
}

.block:nth-child(){
   background-color: red;
}