html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* -------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/product-sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


button{
   cursor: pointer;
}
/* section 1 */
.container{
   margin: 0 auto;
   max-width: 1440px;
   background: #F4F6F9 url(../task9/img/Frame.png) no-repeat;
   background-position: right;
}

.first_section{
   padding: 63px 0 164px 164px;
}
.logo_1{
   margin-bottom: 133px;
}
.logo_1 span{
   font-family: 'Product Sans', sans-serif;
font-size: 24px;
line-height: 29px;
letter-spacing: -0.02em;
color: #5282F0;
}
.text_logo_1{
   max-width: 570px;
}
.text_logo_1 h1{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 48px;
display: flex;
align-items: flex-end;
letter-spacing: 0.03em;
color: #333333;
margin-bottom: 30px;
}
.text_logo_1 p{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #4F4F4F;
margin-bottom: 50px;
}

.apple{
background: #000000;
border-radius: 7.33503px;
border: transparent;
padding: 6px 12px 4px 12px;

}
.apple_style{
   display: flex;
}
.column_button_1{
   padding-left: 12px;
}
.apple_style p{
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #FFFFFF;
   margin: 0;
   
}
.apple_style h2{
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 21.2716px;
   line-height: 25px;
   color: #FFFFFF;
   
}

.google{
background: #000000;
border-radius: 7.33503px;
border: transparent;
padding: 6px 12px 4px 12px;
}
.google_style{
   display: flex;
}
.google_style p{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 11.0025px;
line-height: 13px;
color: #FFFFFF;
margin: 0;
}
.google_style h2{
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 21.2716px;
   line-height: 25px;
   color: #FFFFFF;
}

.buttons_1{
   display: flex;
   column-gap: 35px;
   margin-bottom: 164px;
}
/* section 2 */
.container_2{
   margin: 0 auto;
   max-width: 1440px;
}
.section_block1{
   display: flex;
   column-gap: 71px;
}
.img_section2{
   background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5)  url(../task9/img/Rectangle.png) no-repeat  ;
   width: 25%;
   display: flex;
   align-items: center;
   padding: 109px 176px 77px 163px;
  
   
}


.football_1{
position: relative;
right: 80px;
bottom: 85px;
z-index: 1;

}
.football_2{
position: relative;
right: 360px;
top: 80px;

}

.text_section_2{
   margin: 133px 217px 117px 0;
   
}

.text_section_2 span{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
}
.text_section_2 h2{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;
color: #333333;
margin: 27px 0 27px 0;
}
.text_section_2 p{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #4F4F4F;
margin-top: 35px;
margin-bottom: 22px;
}
/* section 3 */
.container_3{
   margin: 0 auto;
   max-width: 1440px;
   background: url(../task9/img/phone_circke_back.png)  no-repeat;
}

.block_section3{
   padding: 217px 0 171px 162px;
   max-width: 495px;
}
.block_section3 span{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #00ADEE;

}
.block_section3 a{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #00ADEE; 
text-decoration: none;
margin-bottom: 170px;

}
.block_section3 h2{
font-family: 'Lato',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;
color: #333333;
margin-top: 27px;

}
.block_section3 p{
   font-family: 'Lato', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
   color: #4F4F4F;
   margin-bottom: 30px;
   margin-top: 30px;
}

/* section 4 */

.container_4{
   margin: 0 auto;
   max-width: 1440px;
   background: url(../task9/img/section4_background.png)no-repeat;
}
.title{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;
color: #FFFFFF;
text-align: center;
padding: 76px 0 58px 0;
}
.grid_content{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 87px;
    grid-row-gap: 50px;
    padding: 0px 166px 66px 164px;
}
.content ul li{
font-family: 'Lato',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #FFFFFF;
}
.content ul li::before{
   content: "•";
   color: #FFFFFF;
   padding-right: 5px;
}

/* section 5 */

.container_5{
   margin: 0 auto;
   max-width: 1440px;
}
.link_2{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;
color: #333333;
margin: 68px 0 63px 0;
text-align: center;
}
.slider{
   position: relative;
   display: flex;
    justify-content: space-evenly;
}
.arrows{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
}
.arrows button{
   background: #FFFFFF;
border: 1px solid #00ADEE;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25), 0px 5px 10px rgba(0, 0, 0, 0.1);
border-radius: 100%;
}
.arrow_size{
   padding: 10px;
}
.arrow-left{
   left: 15px;
}
.arrow-right{
   right: 15px;
}
.block_reviews{
   display: inline-flex;
   overflow: auto;
   height: 180px;
   width: 335px;
   min-width: 300px;
   border: 1px solid #828282;
border-radius: 4px;
}
.hidden1_flex{
   display: flex;
}
.hidden_1{
   padding: 15px 13px 24px 17px;
}
.hidden_1 p{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #4F4F4F;
}
.hidden_1 h2{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #333333;
padding: 20px 124px 23px 11px;

}
.hidden1_flex img{
   padding: 15px 0 18px 0;
}
.twitter{
   padding-top: 22px;
}
.circle_section5{
   display: flex;
   justify-content: center;
   margin: 50px 0 50px 0;
}
circle{
   cursor: pointer;
}
/* section 6 */

.container_6{
   margin: 0 auto;
   max-width: 1440px;
   text-align: center;
   background: #FAFAFA;
}
.link_3{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;
color: #333333;
padding: 57px 0 57px 0;
}
.logos{
   padding-bottom: 70px;
   display: flex;
   padding: 0 180px 80px 180px;
   column-gap: 85px;
}

}
