.section_1{
   position: absolute;
width: 1440px;
height: 500px;
left: 0px;
top: 0px;

background: #ED4C5C;
    
}

.block_1{
   display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block_1>h1{
   position: absolute;
   width: 445px;
height: 107px;
left: 165px;
top: 122px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;

color: #FFFFFF;

}

.block_1>p{
   position: absolute;
width: 445px;
height: 64px;
left: 165px;
top: 253px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
text-align: justify;
color: #FFFFFF;
}


.icons{
   position: absolute;
width: 134px;
height: 32px;
left: 163px;
top: 357px;
}


#playstore{
   
   padding-right: 10px;
   
}

#appstore{
   
   
    padding-right: 10px;
   
}

#windows{
  
   padding-left: 10px;
   
}



.second{
   position: absolute;
   width: 383px;
   height: 267px;
   left: 841px;
   top: 116px;
   
   
   opacity: 0.5;
   border-radius: 15px;
}

.main{
   position: absolute;
width: 445px;
height: 311px;
left: 735px;
top: 94px;
border-radius: 15px;

}

.first{
   position: absolute;
width: 383px;
height: 267px;
left: 691px;
top: 116px;


opacity: 0.5;
border-radius: 15px;
}


.section_2{
   max-width: 1440px;
   height: 500px;
   background: #FFFFFF;
   display: flex;
   justify-content: center;
   gap: 156px;
   margin-top: 517px;

}


.block_3{
   
    margin-top: 117px;
    
}

.block_3>h2{
   width: 445px;
    height: 80px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;

}

.block_3>p{
   width: 434px;
    height: 64px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  


}

.forms{
   width: 540px;
   height: 305px;
   margin-top: 117px;

}



#name{
   box-sizing: border-box;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-right: 20px;
}

#name::placeholder{
   width: 78px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
#lastName{
   box-sizing: border-box;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
}
#lastName::placeholder{
   width: 75px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
#phone{
   width: 528px;
   height: 60px;
   border: 1px solid #333333;
   border-radius: 6px;
   margin-top: 24px;
}
#phone::placeholder{
   width: 106px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 31px;
    color: rgba(19, 39, 67, 0.5);
}
#selection{
   box-sizing: border-box;
    width: 534px;
    height: 63px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-top: 24px;
}


select{
   font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
option{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: rgba(19, 39, 67, 0.5);
}

.submit_button{
   width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 41px;
}



.blocks{
   margin-top: 85px;
   max-width: 1440px;
   height: 435px;
   background: #FAFAFA;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.block_first {
   margin-top: 85px;
}

.block_first > h3{
   font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #101010;
  
}

.block_first > p{
   font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
color: #101010;

}
.footer_paragraph{
   margin-top: 100px;
   margin-bottom: 86px;
}



.block_second{
   margin-top: 85px;
    margin-bottom: 150px;
}

.block_second > h3{
   font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;



color: #101010;
}

.block_second > p{
   font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 160%;


text-transform: capitalize;

color: #000000;
}


.block_second>ul>li{
   list-style: none;
   
   
}
.text_ul{
   font-family: 'Lato';
   padding-left: 0px;
   font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 160%;


text-transform: capitalize;

color: #000000;
cursor: pointer;
}




.block_third{
   margin-top: 85px;
    margin-bottom: 185px
}


.block_third>h3{
   font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;


text-align: center;
margin-right: 30px;
color: #101010;

}


.block_third>a{
   text-decoration: none;
   font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

color: #101010;
}


.footer_photo{
   margin-top: 20px;
   cursor: pointer;
}

.footer_photo_1{
margin-right: 10px;
}

.footer_photo_2{
margin-left: 10px;
}




.block_fourth{
   margin-top: 85px;
   margin-bottom: 225px;
}

.block_fourth>h3{

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;



color: #101010;
}