@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.section_1{
  
display: flex;
    justify-content: center;
    gap: 150px;
background: #ED4C5C;
    
}



.block_1>h1{
   

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
padding-top: 122px;
color: #FFFFFF;
width: 445px;
}

.block_1>p{
   
width: 445px;
height: 64px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
text-align: justify;
color: #FFFFFF;
padding-bottom: 40px;
}





#playstore{
   
   padding-right: 10px;
   
}

#appstore{
   
   
    padding-right: 10px;
   
}

#windows{
  
   padding-left: 10px;
   
}





.main{
   padding-top: 94px;
   padding-bottom: 95px;
}




.section_2{
   max-width: 1440px;
   height: 500px;
   background: #FFFFFF;
   display: flex;
   justify-content: center;
   gap: 156px;
   

}


.block_3{
   
    margin-top: 117px;
    
}

.block_3>h2{
   width: 445px;
    height: 80px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;

}

.block_3>p{
   width: 434px;
    height: 64px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  
}

.forms{
   width: 540px;
   height: 305px;
   margin-top: 117px;
   font-family: 'Lato';

}



#name{
   box-sizing: border-box;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-right: 20px;
}

#name::placeholder{
   width: 78px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
#lastName{
   box-sizing: border-box;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
}
#lastName::placeholder{
   width: 75px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
#phone{
   width: 528px;
   height: 60px;
   border: 1px solid #333333;
   border-radius: 6px;
   margin-top: 24px;
}
#phone::placeholder{
   width: 106px;
    height: 19px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 31px;
    color: rgba(19, 39, 67, 0.5);
}
#selection{
   box-sizing: border-box;
    width: 534px;
    height: 63px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-top: 24px;
}


select{
   font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
option{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: rgba(19, 39, 67, 0.5);
}

.submit_button{
   width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 41px;
}

footer {
   max-width: 1575px;
   background: #FAFAFA;
   display: flex;
   justify-content: center;
   gap: 30px;
}

.footerblock_1 h5 {
   width: 65px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #101010;
   padding-top: 80px;

}

.footerblock_1 p {
   width: 254px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   color: #101010;

}

.bottom_text {
   padding-top: 86px;
   padding-bottom: 86px;

}

.footerblock_2 h5 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #101010;
   padding-left: 37px;
   padding-top: 80px;



}

.footerblock_2 ul {
   width: 254px;
   list-style: none;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 160%;
   text-transform: capitalize;
   color: #000000;

}

.footerblock_3 {
   width: 254px;
}

.footerblock_3 h5 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #101010;
   padding-top: 80px;
}

#img1 {
   padding-right: 16px;

}

#img2 {
   padding-right: 16px;
}

.footerblock_3 img {
   padding-top: 21px;
   cursor: pointer;
}
.foot_p{
   cursor: pointer;
}
.foot_p2{
   cursor: pointer;
}

.footerblock_4 {
   width: 254px;
}

.footerblock_4 h5 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   color: #101010;
   padding-top: 80px;

}