@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

button{
   cursor: pointer;
}
.wrapper_1{
   max-width: 1126px;
   width: 100%;
   margin: 0 auto;
   background: #FFFFFF;
}
.header{
   display: flex;
   justify-content: space-between;
}
.lady_shop{
   margin-top: 16px;
   margin-bottom: 16px;
}
.lady_shop a{
font-family: 'Rochester';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
color: #1B2437;
text-decoration: none;

}
.icons_1{
margin-top: 29px;
cursor: pointer;
}
.icons_2{
margin-top: 25px;
cursor: pointer;
}
.instagram{
   margin: 0px 40px 0px 40px;
}
.buy{
   margin: 0px 30px 0px 30px;
}
hr{
   background: #F3F3F3;
   height: 1px;
   opacity: 0.2;
}
.wrapper_2{
   max-width: 600px;
   width: 100%;
   margin: 0 auto;
   background: #FFFFFF;
}
.navigator{
   margin-top: 24px;
   display: flex;
    justify-content: space-between;
}
.navigator a{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 37px;
color: #000000;
text-decoration: none;
}
.navigator a:hover{
   color: pink;
   
}
.section_1{
   background: #F5F5F5;
}
.wrapper_3{
   max-width: 1440px;
   margin-top: 20px;
   padding: 103px 0 118px 0;
    background: url(../task7/img/hero.svg) center center / cover no-repeat;
}
.block_head{
   margin-left: 164px;
}
.block_head h1{
   font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 67px;
color: #FFFFFF;
max-width: 361px;
/* margin: 103px 914px 13px 164px; */
}
.block_head p{
   font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
max-width: 446px;
/* margin: 0px 829px 34px 164px; */
}
.block_head button{
   font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
background: #1B2437;
border-radius: 15px;
padding: 23px 78px;
max-width: 255px;
margin-top: 34px;
}
.section_2{
   background: #F5F5F5;
}
.wrapper_4{
   max-width: 1110px;
   width: 100%;
   margin: 0 auto;
   /* background: #F5F5F5; */
}
.blocks_1{
   display: grid;
   padding-top: 71px;
   grid-template-columns: 445px 303px 303px 635px;
   gap: 32px;
}
.block_1{
  cursor: pointer;
   grid-column: 1/2;
   grid-row: 1/3;
   background: url(../task7/img/women_collection_category.svg) no-repeat 
   
}
.block_2{
   cursor: pointer;
   grid-column: 2/2;
   grid-row: 1/1;
   background: url(../task7/img/Rectangle\ 14.svg) no-repeat
}
.block_3{
   cursor: pointer;
   grid-column: 3/3;
   grid-row: 1/1;
   background: url(../task7/img/dresses_category.svg) no-repeat
}
.block_4{
   cursor: pointer;
   grid-column: 2/4;
   grid-row: 2/2;
   background: url(../task7/img/denim_jackets_category.svg) no-repeat
}

.block_1_text{
padding: 268px 125px 100px 32px;
}
.block_1_text h2{
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 45px;
   color: #FFFFFF;
   margin: 0;
  
}
.block_1_text p{
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #FFFFFF;
   margin: 0;
}
.block_1_text button{
   padding: 10px 22px;
    background: rgb(255, 255, 255, 0.4);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    border: transparent;
    cursor: pointer;
   
}
.block_2_text{
padding: 53px 0px 52px 22px;
}
.block_2_text p{
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #1B2437;
   margin: 0;
}
.block_2_text h2{
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 45px;
   color: #1B2437;
   margin: 0;
   
}
.block_3_text{
   padding: 53px 144px 97px 39px;
}
.block_3_text p{
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #FFFFFF;
   margin: 0;
}
.block_3_text h2{
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 45px;
   color: #FFFFFF;
   margin: 0;
}
.block_4_text{
padding: 64px 332px 65px 22px;
margin-bottom: 100px;
}

.block_4_text p{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #1B2437;
margin: 0;

}
.block_4_text h2{
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 900;
   font-size: 32px;
   line-height: 45px;
   color: #1B2437;
   margin: 0;
}

.blocks_2{
   background: #FFFFFF;
border-radius: 16px;
display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: 255px;
    gap: 25px;
}
.blocks_2 a{
   font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
color: #000000;
text-decoration: none;
padding-left: 54px;
}
.block2_1 img{
   padding: 40px 50px;
   cursor: pointer;
}
.block2_2 img{
   padding: 35px 78px;
   cursor: pointer;
}
.block2_3 img{
   padding: 57px 50px;
   cursor: pointer;
}
.block2_4 img{
   padding: 38px 80px;
   cursor: pointer;
}
.circles{
   padding: 0px 513px 24px 513px;
   cursor: pointer;
}
.maylike{
   font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 67px;
    color: #1B2437;
    margin: 0;
    padding: 70px 0px;
   
}
.section_3{
   background: #F5F5F5;
}
/* .section_3 h3{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 67px;
color: #1B2437;

} */
.blocks_3{
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.background_group1{
   background: url(../task7/img/Mask\ Group.svg) no-repeat
   
}
.background_group1 button{
   background: #FFFFFF;
opacity: 0.6;
border: transparent;
border-radius: 100px;
margin: 16px 16px 210px 290px;
}
.background_group1 img{
   padding: 8px 8px 5px 8px;
}
.maskGroup1{
   max-width: 350px;
   background: #FFFFFF;
box-shadow: 2px 5px 45px rgba(237, 163, 181, 0.25);
border-radius: 16px;


}
.maskGroup1 h3{
 margin: 0;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 30px;
color: #000000;
}
.maskGroup1 p{
   font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #000000;
max-width: 300px;
margin: 0;
padding-top: 8px;
padding-bottom: 27px;
}
.text_group1{
   padding-left: 24px;
}
.text_group1 button{
   font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
background: #EDA3B5;
border-radius: 15px;
border: transparent;
padding: 10px 25px;
margin-bottom: 18px;
}
.text_group1 span{
   font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 30px;
color: #000000;
padding-right: 88px;
}
.background_group2{
   background: url(../task7/img/Mask\ Group2.svg);
}
.background_group2 button{
   background: #FFFFFF;
opacity: 0.6;
border: transparent;
border-radius: 100px;
margin: 16px 16px 210px 290px;
}
.background_group2 img{
   padding: 8px 8px 5px 8px;
}
.maskGroup2{
   max-width: 350px;
   background: #FFFFFF;
box-shadow: 2px 5px 45px rgba(237, 163, 181, 0.25);
border-radius: 16px;


}
.maskGroup2 h3{
 margin: 0;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 30px;
color: #000000;
}
.maskGroup2 p{
   font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #000000;
max-width: 300px;
margin: 0;
padding-top: 8px;
padding-bottom: 27px;
}
.text_group2{
   padding-left: 24px;
}
.text_group2 button{
   font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
color: #FFFFFF;
background: #1B2437;
border-radius: 15px;
border: transparent;
padding: 10px 25px;
margin-bottom: 18px;
}
.text_group2 span{
   font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 30px;
color: #000000;
padding-right: 88px;
}
.background_group3{
   background: url(../task7/img/Mask\ Group3.svg)no-repeat
}
.background_group3 button{
   background: #FFFFFF;
opacity: 0.6;
border: transparent;
border-radius: 100px;
margin: 16px 16px 210px 290px;
}
.background_group3 img{
   padding: 8px 8px 5px 8px;
}
.section_4{
   background: #F5F5F5;
}
.block_map{
   background: #FFFFFF;
border-radius: 16px;
}
.block_map img{
   width: 98%;
   padding: 12px;
}
